<app-left-aside-header></app-left-aside-header>
<div class="px-3">
  <button
    [routerLinkActiveOptions]="{
      exact: true
    }"
    mat-stroked-button
    class="border border-dark w-100 justify-content-start py-3"
    routerLinkActive="text-bg-dark"
    routerLink="/"
  >
    <span>Eşleşme Listesi</span>
    <mat-icon class="opacity-50">home</mat-icon>
  </button>
  <button
    mat-stroked-button
    class="border border-dark w-100 justify-content-start py-3 mt-3"
    routerLinkActive="text-bg-dark"
  >
    Gönüllü Listesi
    <mat-icon class="opacity-50">corporate_fare</mat-icon>
  </button>
  <button
    mat-stroked-button
    class="border border-dark w-100 justify-content-start py-3 mt-3"
    routerLinkActive="text-bg-dark"
  >
    Afetzede Listesi
    <mat-icon class="opacity-50">admin_panel_settings</mat-icon>
  </button>
  <button
    mat-stroked-button
    class="border border-dark w-100 justify-content-start py-3 mt-3"
    routerLinkActive="text-bg-dark"
  >
    Moderatör Listesi
    <mat-icon class="opacity-50">admin_panel_settings</mat-icon>
  </button>
  <button
    mat-stroked-button
    class="border border-dark w-100 justify-content-start py-3 mt-3"
    routerLinkActive="text-bg-dark"
  >
    Loglar
    <mat-icon class="opacity-50">admin_panel_settings</mat-icon>
  </button>
</div>
