<h2 mat-dialog-title class="bg-ascendent">Cocuk Kayit</h2>
<mat-dialog-content class="mat-typography">
  <form class="mt-3 row row-cols-1" [formGroup]="addChildForm">
    <mat-form-field class="d-block mb-3">
      <mat-label>Ad Soyad</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
      />
      <mat-error>
        {{ nameValidationMessage }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill"  class="d-block mb-3">
      <mat-label>Dogum Tarihi</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="addChildForm.controls.birthDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>
        {{ nameValidationMessage }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="d-block mb-3">
      <mat-label>Cinsiyet</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="1">Erkek</mat-option>
        <mat-option value="2">Kiz</mat-option>
      </mat-select>
      <mat-error>
        {{ nameValidationMessage }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()" class="p-3">İptal</button>
  <button mat-button class="btn-ascendent p-3" (click)="doAction()">
    {{submitButtonText}}
  </button>
</mat-dialog-actions>
