<form [formGroup]="form" class="col row row-cols-2">
  <mat-form-field class="col">
    <mat-label>Ad Soyad</mat-label>
    <input type="text" matInput formControlName="fullName" />
    <mat-error>
      {{ fullNameValidationMessage }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col">
    <mat-label>TCKN</mat-label>
    <input type="number" matInput formControlName="identityNumber" />
    <mat-error>
      {{ tcknValidationMessage }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col">
    <mat-label>E-Posta</mat-label>
    <input type="email" matInput formControlName="email" />
    <mat-error>{{ emailValidationMessage }}</mat-error>
  </mat-form-field>
  <mat-form-field class="col">
    <mat-label>Telefon</mat-label>
    <input type="tel" matInput formControlName="phone" />
    <mat-error>{{ phoneValidationMessage }}</mat-error>
  </mat-form-field>
  <mat-form-field class="col">
    <mat-label>Adres</mat-label>
    <textarea matInput formControlName="address"></textarea>
    <mat-error>{{ addressValidationMessage }}</mat-error>
  </mat-form-field>
  <mat-form-field class="col">
    <mat-label>Ülke</mat-label>
    <mat-select
      formControlName="countryId"
      (valueChange)="countryChanged($event)"
    >
      <mat-option *ngFor="let country of countryList$" [value]="country.id">
        {{ country.name }}
      </mat-option>
    </mat-select>
    <mat-error>{{ countryValidationMessage }}</mat-error>
  </mat-form-field>
  <mat-form-field class="col">
    <mat-label>Şehir</mat-label>
    <mat-select formControlName="cityId">
      <mat-option *ngFor="let city of cityList$" [value]="city.id">
        {{ city.name }}
      </mat-option>
    </mat-select>
    <mat-error>{{ cityValidationMessage }}</mat-error>
  </mat-form-field>

  <mat-form-field class="col">
    <mat-label>Geçici Adres</mat-label>
    <textarea matInput formControlName="temporaryAddress"></textarea>
    <mat-error>
      {{ temporaryAddressValidationMessage }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col">
    <mat-label>Geçici Adres Şehir</mat-label>
    <mat-select formControlName="temporaryCityId">
      <mat-option *ngFor="let city of cityList$" [value]="city.id">
        {{ city.name }}
      </mat-option>
    </mat-select>
    <mat-error>{{ temporaryCityValidationMessage }}</mat-error>
  </mat-form-field>
  <!-- <mat-form-field class="col">
    <mat-label>Resim Yükle...</mat-label>
    <input #fileInput type="file" accept=".jpg, .png, .jpeg" class="d-none" />
    <input matInput type="text" class="d-none" />
    <button
      matSuffix
      mat-stroked-button
      class="me-3"
      (click)="fileInput.click()"
    >
      <mat-icon>folder_open</mat-icon>Browse
    </button>
    <mat-error>{{ pictureValidationMessage }}</mat-error>
  </mat-form-field> -->
  <div class="col row row-cols-1">
    <!-- <div class="col">
      <input type="checkbox" formControlName="identityNumberValidated" />
      <label class="">Kimlik no dogrulandi</label>
    </div> -->
    <!-- <div class="col">
      <input type="checkbox" formControlName="addressValidated" />
      <label class="">Adres dogrulandi</label>
    </div> -->
  </div>
</form>
<div class="col d-flex flex-column">
  <div class="d-flex justify-content-between align-items-center">
    <div class="">Cocuk Listesi</div>
    <button mat-button class="p-3" (click)="showChildDialog('Add', null, null)">
      Cocuk Ekle
    </button>
  </div>
  <mat-table [dataSource]="childrens">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> AD SOYAD </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="birthDate">
      <mat-header-cell *matHeaderCellDef> YAS </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ calculateAge(element.birthDate) }}
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> CINSIYET </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ getGender(element.gender) }}
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="text-right"
        >AKSİYONLAR</mat-header-cell
      >
      <mat-cell *matCellDef="let row" class="actions-column text-right">
        <button
          (click)="updateChild(row)"
          mat-icon-button
          color="primary"
          aria-label="Edit"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="removeChild(row)"
          mat-icon-button
          color="warn"
          aria-label="Delete"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <div class="d-flex flex-grow-1 flex-column">
    <div class="d-flex flex-grow-1 justify-content-end align-items-end">
      <button mat-button (click)="backToList()" class="p-3">İptal</button>
      <button mat-button (click)="submit()" class="btn-ascendent p-3">
        Kaydet
      </button>
    </div>
  </div>
</div>
