<h2 mat-dialog-title class="bg-ascendent">{{ pageTitle$ }}</h2>
<mat-dialog-content class="mat-typography">
  <form class="mt-3 row row-cols-lg-2" [formGroup]="addMatchForm">
    <mat-form-field class="d-block mb-3">
      <mat-label>Gönüllü</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="voluntarilyAutoComplete"
        formControlName="voluntarilySearchKeyword"
      />
      <mat-autocomplete #voluntarilyAutoComplete="matAutocomplete" [displayWith]="displayUser">
        <mat-option
          *ngFor="let option of voluntarilyList$"
          [value]="option"
          (onSelectionChange)="voluntarilyChanged($event)"
        >
          {{ displayUser(option) }}
        </mat-option>
      </mat-autocomplete>
      <mat-error>
        {{ voluntarilyValidationMessage }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="d-block mb-3">
      <mat-label>Afetzede</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="disasterVictimAutoComplete"
        formControlName="disasterVictimSearchKeyword"
      />
      <mat-autocomplete #disasterVictimAutoComplete="matAutocomplete" [displayWith]="displayUser">
        <mat-option
          *ngFor="let option of disasterVictimList$"
          [value]="option"
          (onSelectionChange)="disasterVictimChanged($event)"
        >
          {{ displayUser(option) }}
        </mat-option>
      </mat-autocomplete>
      <mat-error>
        {{ disasterVictimValidationMessage }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="d-block mb-3">
      <mat-label>Gönüllü Ailenin Çocuğu</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="voluntarilyChildAutoComplete"
        formControlName="voluntarilyChildSearchKeyword"
      />
      <mat-autocomplete #voluntarilyChildAutoComplete="matAutocomplete" [displayWith]="displayChild">
        <mat-option
          *ngFor="let option of voluntarilyChildList$"
          [value]="option"
          (onSelectionChange)="voluntarilyChildChanged($event)"
        >
          {{ displayChild(option) }}
        </mat-option>
      </mat-autocomplete>
      <mat-error>
        {{ voluntarilyChildValidationMessage }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="d-block mb-3">
      <mat-label>Afetzede Ailenin Çocuğu</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="disasterVictimChildAutoComplete"
        formControlName="disasterVictimChildSearchKeyword"
      />
      <mat-autocomplete #disasterVictimChildAutoComplete="matAutocomplete" [displayWith]="displayChild">
        <mat-option
          *ngFor="let option of disasterVictimChildList$"
          [value]="option"
          (onSelectionChange)="disasterVictimChildChanged($event)"
        >
          {{ displayChild(option) }}
        </mat-option>
      </mat-autocomplete>
      <mat-error>
        {{ disasterVictimChildValidationMessage }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="onCancel()" mat-button mat-dialog-close class="p-3">İptal</button>
  <button (click)="onSave()" mat-button class="btn-ascendent p-3" [disabled]="!addMatchForm.valid" [mat-dialog-close]="true">
    Kaydet
  </button>
</mat-dialog-actions>
