<mat-card class="mb-1">
  <mat-card-content>
    <form [formGroup]="addSupporterForm" autocomplete="off" fxLayout="column" fxLayoutAlign="stretch">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <mat-form-field class="d-block mb-3 col-md-6">
              <mat-label>Adı</mat-label>
              <input
                formControlName="firstName"
                matInput
                type="text"
              />
              <mat-error>
                {{ firstNameValidationMessage }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="d-block mb-3 col-md-6">
              <mat-label>Soyadı</mat-label>
              <input
                formControlName="lastName"
                matInput
                type="text"
              />
              <mat-error>
                {{ lastNameValidationMessage }}
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field class="d-block mb-3">
            <mat-label>E-posta</mat-label>
            <input
              formControlName="email"
              matInput
              type="text"
            />
            <mat-error>
              {{ emailValidationMessage }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="d-block mb-3 phone-input-wrapper" floatLabel="always">
            <mat-label class="label">Telefon</mat-label>
            <input
              [ng2TelInputOptions]="{initialCountry: 'gb', autoHideDialCode: false, separateDialCode:true}"
              formControlName="phone"
              matInput
              ng2TelInput
              type="text"
            />
            <mat-error>
              {{ phoneValidationMessage }}
            </mat-error>
          </mat-form-field>
          
          <mat-form-field class="d-block mb-3">
            <mat-label>Adres</mat-label>
            <input
              formControlName="address"
              matInput
              type="text"
            />
            <mat-error>
              {{ addressValidationMessage }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="d-block mb-3">
            <mat-label>Ülke</mat-label>
            <input
              [matAutocomplete]="countryAutoComplete"
              formControlName="countryId"
              matInput
              type="text"
            />
            <mat-autocomplete #countryAutoComplete="matAutocomplete"
                              (optionSelected)="countryChanged($event.option.value)"
                              [displayWith]="getCountryName.bind(this)"
            >
              <mat-option
                *ngFor="let option of filteredCountryList$ | async"
                [value]="option.id"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error>
              {{ countryValidationMessage }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="d-block mb-3">
            <mat-label>Şehir</mat-label>
            <input
              [matAutocomplete]="cityAutoComplete"
              formControlName="cityId"
              matInput
              type="text"
            />
            <mat-autocomplete #cityAutoComplete="matAutocomplete" [displayWith]="getCityName.bind(this)">
              <mat-option
                *ngFor="let option of filteredCityList$ | async"
                [value]="option.id"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error>
              {{ cityValidationMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-card>
            <mat-card-content>
              <mat-toolbar class="mb-1 bg-transparent">
                <span>Çocuk Listesi</span>
                <button
                  (click)="addOrEditChild()"
                  class="btn p-2 align-self-baseline ms-auto rounded" mat-raised-button>
                  <mat-icon>add</mat-icon>
                  Çocuk Ekle
                </button>
              </mat-toolbar>
              <div class="mat-elevation-z8">
                <mat-table [dataSource]="getChildren()">
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> AD SOYAD</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="birthDate">
                    <mat-header-cell *matHeaderCellDef> YAS</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ getAge(element.birthDate) }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="gender">
                    <mat-header-cell *matHeaderCellDef> CINSIYET</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ getGendersLabel(element.gender) }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;">
                      <button (click)="addOrEditChild(row, i)" aria-label="Edit" color="primary" mat-icon-button
                              type="button">
                        <mat-icon [svgIcon]="'document'">edit</mat-icon>
                      </button>
                      <button (click)="onDeleteChild(row)" aria-label="Delete" color="warn" mat-icon-button
                              type="button">
                        <mat-icon [svgIcon]="'delete'">delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="end" class="p-3">
    <div fxLayout="row"
         fxLayoutAlign="end center"
         fxLayoutGap="12px">
      <button (click)="onCancel()" mat-raised-button type="button">Iptal</button>
      <button (click)="onSave()" [disabled]="addSupporterForm.invalid" class="btn-ascendent" mat-raised-button
              type="submit"
      >Kaydet
      </button>
    </div>
  </mat-card-actions>
</mat-card>
