/* You can add global styles to this file, and also import other style files */
@import './bootstrap/scss/bootstrap.scss';
/* @import 'theme.scss'; */

$main_color: #8bb752;

.mdc-button {
  height: auto !important;
  min-height: 36px;
}

.btn-ascendent {
  background-color: $main_color !important;
  color: var(--bs-white) !important;
  &:disabled,
  &[disabled],
  &[disabled='true'] {
    opacity: 0.5;
  }
}
.bg-ascendent {
  background-color: $main_color;
  color: $white !important;
}
.login-page {
  background-image: url('./assets/images/loogin-top.svg');
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  .login-wrapper {
    background-image: url('./assets/images/loogin-bottom.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}

.padding-l-r-0 {
  padding-left: 0;
  padding-right: 0;
}
